h1{
	font-family: serif;
	text-align: justify;

}

h2{
	font-family: sans-serif;
	text-align: center;
	

}

body{

	font-family: sans-serif;
	background-image: url("C:\Users\alunos\Desktop\exercicio geomar\img\imagem-teste.jpg");
	border: 1px solid black;

}


